html, body{
    height: 100%;
    width: 100%;
}

.vertical-center{
  min-height: 100vh;

  display: flex;
  align-items: center;
}

.container{
    padding-top: 3%;
    border: 1px solid #000;
    width: 30%;
    padding-bottom: 3%;
    border-radius: 20px;
}

#form-button{
    width: 100%;
}

